.passed {
    background: #3cb44b;
}

.failed {
    background: #d7004d;
}

.blocked {
    background: #555555;
}

.untested {
    background: #9e9e9e;
}

.retest {
    background: #ffb400;
}

.skipped {
    background: #5b2be0;
}